{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 2,
    "printWidth": 80,
    "trailingComma": "es5",
    "bracketSameLine": true,
    "vueIndentScriptAndStyle": false,
    "singleAttributePerLine": false,
    "proseWrap": "preserve",
    "htmlWhitespaceSensitivity": "css",
    "bracketSpacing": true
  }
  